@{
    ViewData["Title"] = "RockDMZ";
}
<ul>
    <li>Settings
        <ul>
            <li><a aps-action="index" asp-controller="serviceaccount">Service Accounts</a></li>
        </ul>
    </li>
    <li>
        BI Tools
        <ul>
            <li><a aps-action="index" asp-controller="drainmyapi">API &gt; Datatable</a></li>
        </ul>
    </li>
</ul>